<!--  create header  with infos like here is your ID -->

<div> Welcome HEre is YOur ID card</div>
<!-- maybe send the ID cards to them via the email -->
<!--  create Footer with copyWrights and some more infos -->