


<div>

    <% if(typeof Fields === "undefined"){  console.log("there is no fields " + Fields) %>
    <% var Fields = {  name : "", regNumber : "", department : "", gradYear : "", phone : "",avatar : "" }  %>
    <p> you have no random number yet page</p>
<% }else{ %>
    <p> your random number is : <%= Fields.random %></p>
<%}%>

    <form method="POST">
        <button> Refresh</button>
    </form>

</div>